{% extends "auctions/layout.html" %}

{% block title %}
    Closed Listings
{% endblock %}

{% block body %}
    <h2>Closed Listings:</h2>
    {% if not listings %}
        <br><h4>No Results</h4>
    {% endif %}
    {% for listing in listings %}
        <div class="index_listings">
            <div class="index_listing_img">
                {% if listing.image %}
                    <a href="{% url 'listing' id=listing.id %}"><img src="{{ listing.image }}" alt="{{ listing.title }}"></a>
                {% else %}
                    <a href="{% url 'listing' id=listing.id %}"><img src="https://bubbleerp.sysfosolutions.com/img/default-pro.jpg" alt="default_img"></a>
                {% endif %}
            </div>
            <div class="content">
                <a href="{% url 'listing' id=listing.id %}"><h3>{{ listing.title }}</h3></a>
                <h6>{{ listing.price }}$</h6>
                <p>{{ listing.description }}<p>
                <span class="alert alert-warning">Closed!</span>    
            </div>
        </div>
        <hr>
    {% endfor %}
    
{% endblock %}